@using VapeShop.Domain.Entity.Product;
@model IEnumerable<Liquid>



<div class="row">


	<div class="grid_ist">


		<div class="category_list">
			@foreach (var liquid in Model)
			{
				<div class="column">

					<div class="product_card">
						<div class="product_card_body">

							<div class="body_image">
								<a asp-action="Details" asp-controller="Product" asp-route-id="@liquid.LiquidID">
									<img height="300" width="300" src="@liquid.Image" alt="Product Image">
								</a>
								@{
									int? liquid_pramaID = null;
									if (liquid.Liquid_Params.Any()) liquid_pramaID = liquid.Liquid_Params.FirstOrDefault().LiquidParamID;
								}
								<div class="body_image_btn hidden">
									<a class="quick_view_btn add-to-wishlist" data-liquid-id="@liquid.LiquidID" data-liquid-prama-id="@liquid_pramaID">
										<i class="far fa-heart"></i>
									</a>

									<a class="quick_view_btn add-to-comparisonList" data-liquid-id="@liquid.LiquidID">
										<i class="bi bi-bar-chart"></i>
									</a>
								</div>
							</div>

							<div class="body_price">
								@Math.Round(@liquid.Price) грн
							</div>

							<div class="body_content">
								<div class="content_name">
									<a class="product_title">@liquid.Name - @liquid.LongName</a>
								</div>
								<div class="content_rating"></div>
								<div class="content_amount">
									<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
										<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
									</svg>  available
								</div>
								<div class="content_controll hidden">
									<a class="btn_main btn_main_l" asp-action="Details" asp-controller="Product" asp-route-id="@liquid.LiquidID">
										<i class="fa-solid fa-cart-shopping pe-2"></i> Move to product
									</a>
								</div>
								<div class="content_bottom display">
									<ul class="dots" style="padding: 0; font-family: Arial;">
										<li><span>Brand</span><span>VapeJoy</span></li>
										<li><span>Flavor</span><span>@liquid.Flavor.Flavor_name</span></li>
										<li><span>Volume</span><span>@liquid.Volume</span></li>
									</ul>

								</div>
							</div>

						</div>

					</div>
				</div>
			}
		</div>
	</div>
</div>

<style>
	.grid_ist {
		display: block;
		min-width: 100%;
	}

	.category_list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.column {
		flex-basis: auto;
		min-width: 200px;
		margin-right: 0;
		display: inline-block;
		float: left;
		width: 33.333333333333%;
		vertical-align: top;
	}

	.product_card {
		height: 550px;
		min-width: 201px;
		position: relative;
		padding: 0;
		margin-bottom: -1px;
		width: calc(100% + 1px);
	}

		.product_card:hover {
			overflow: visible;
		}

			.product_card:hover .product_card_body {
				top: -15px;
				left: -15px;
				padding: 30px;
				width: calc(100% + 30px);
				min-height: calc(100% + 30px) !important;
				position: relative;
				z-index: 2;
				box-shadow: 0 0 5px rgba(35,35,35,0.05), 0 0 10px rgba(35,35,35,0.15);
			}

			.product_card:hover .hidden {
				visibility: visible;
				opacity: 1;
			}

			.product_card:hover .display {
				display: block;
				opacity: 1;
			}

	.product_card_body {
		position: relative;
		background: #fff;
		padding: 15px 15px 25px;
		min-height: 550px;
		margin: 0;
		box-shadow: inset 0 0 0 1px #efefef;
		transition: box-shadow 0.1s ease-in-out;
	}
</style>

	<script>
	$(document).ready(function () {
			$('.add-to-wishlist').click(function (e) {
				e.preventDefault(); // Предотвращаем стандартное действие ссылки

				var liquidID = $(this).data('liquid-id');
				var liquidPramaID = $(this).data('liquid-prama-id');

				$.ajax({
					type: 'POST',
					url: "@Url.Action("AddItem", "Wish")",
					data: { liquidID: liquidID, liquid_pramaID: liquidPramaID },
					success: function (response) {
						var toastText = "Item added to wish";
						$("#s_toastText").text(toastText);
						var Toast = new bootstrap.Toast(document.getElementById('successToast'));
						Toast.show();
						UpdateWishCount();
					},
					error: function (error) {
						$("#e_toastText").text(error.responseText);
						var errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
						errorToast.show();
					}
				});
			});
		});

	</script >

	<script >
	$(document).ready(function () {
			$('.add-to-comparisonList').click(function (e) {
				e.preventDefault(); // Предотвращаем стандартное действие ссылки

				var liquidID = $(this).data('liquid-id');

				$.ajax({
					type: 'POST',
					url: "@Url.Action("AddItem", "Comparison")",
					data: { liquidID: liquidID },
					success: function (response) {
						var toastText = "Product has been added to comparison list";
						$("#s_toastText").text(toastText);
						var Toast = new bootstrap.Toast(document.getElementById('successToast'));
						Toast.show();
						UpdateComparisonCount();
					},
					error: function (error) {
						$("#e_toastText").text(error.responseText);
						var errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
						errorToast.show();
					}
				});
			});
		});

	</script >

	<style >

	.collapse_price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		color: #909598;
		margin: 10px 10px;
	}
</style>						