@using VapeShop.Domain.Entity.Product;
@using VapeShop.Domain.Enum;
@model IEnumerable<Liquid>

<div class="container" style="padding-bottom: 100px;">
	<div class="row"></div>
	<div class="row mt-5 mb-3" style="padding: 0 20px;border-bottom: 1px solid lightgray;">
		<h1 class="fw-bolder" style="font-size: 28px; font-family: MuseoSansBlack,'Helvetica Neue',Arial,-apple-system,sans-serif;"></h1>
	</div>

	<div class="row" style="padding-left: 20px;">
		<div class="side_grid p-0">
			<div class="main_categories_block">
				<ul class="main_categories">
					<li class="categories_item top_category level-0" data-liquid-type="0"><a asp-action="Index" asp-controller="Product" asp-route-liquidtype="0"><span>All goods</span></a></li>
					<li class="categories_item top_category level-0" data-liquid-type="3"><a asp-action="Index" asp-controller="Product" asp-route-liquidtype="3"><span>Vapejoy flavorings</span></a></li>
					<li class="categories_item top_category level-0" data-liquid-type="1"><a asp-action="Index" asp-controller="Product" asp-route-liquidtype="1"><span>Premium vape liquids</span></a></li>
					<li class="categories_item top_category level-0" data-liquid-type="2"><a asp-action="Index" asp-controller="Product" asp-route-liquidtype="2"><span>Salt liquid for POD systems</span></a></li>
				</ul>
			</div>
			<div class="main_categories_block mt-3">
				<ul class="main_categories">
					<li class="categories_item level-0 disabled"><a><span style="color: #8f8f8f !important; font-weight: 600">Фильтры товаров</span></a></li>
					<li class="categories_item filter level-0">
						<a data-bs-toggle="collapse" data-bs-target="#collapseExample"><span>Вкус</span></a>

					</li>
					<div class="collapse" id="collapseExample">
						<ul class="main_categories">
							<li class="categories_item level-1">
								<div class="filter-checkbox">
									<input id="Fruits" class="filter-checkbox" type="checkbox">
									<label class="checkbox-label" for="fruits"><span>Фрукты</span></label>
								</div>

							</li>
							<li class="categories_item level-1">
								<div class="filter-checkbox">
									<input id="Tobacco" class="filter-checkbox" type="checkbox">
									<label class="checkbox-label" for="tabacco"><span>Табачка</span></label>
								</div>

							</li>
							<li class="categories_item level-1">
								<div class="filter-checkbox">
									<input id="Drinks" class="filter-checkbox" type="checkbox">
									<label class="checkbox-label" for="drinks"><span>Напитки</span></label>
								</div>

							</li>
							<li class="categories_item level-1">
								<div class="filter-checkbox">
									<input id="Dessert" class="filter-checkbox" type="checkbox">
									<label class="checkbox-label" for="dessert"><span>Десерты</span></label>
								</div>
							</li>
						</ul>
					</div>
					<li class="categories_item filter level-0"><a data-bs-toggle="collapse" data-bs-target="#collapseExample2"><span>Цена</span></a></li>
					<div class="collapse" id="collapseExample2">
						<div class="collapse_price">
							<input type="search" class="price_input" value="@if(Model.Any())
							@Math.Round(@Model.Min(x => x.Price))

" />
							<label> грн   - </label>
							<input type="search" class="price_input" value="@if(Model.Any())
							@Math.Round(@Model.Max(x => x.Price))

" />
							<label> грн</label>
						</div>


					</div>
				</ul>
			</div>
		</div>
		<div style=" padding-left: 20px; padding-right: 20px; float: right; width: calc(100% - 250px);">
			<div class="row mb-3">
				<div class="col-6">
					<div class="sorting_menu">
						<div class="sort_dropdown d-flex">
							<div class="sort_label"><i class="bi bi-filter-left"></i> Cортировать по: </div>
							<a id="sw_elm_sort_fields" class="dropdown_wrapper" data-bs-toggle="dropdown">
								<span id="selected-sort-option"></span>
							</a>
							<ul id="elm_sort_fields" class="dropdown_content dropdown-menu">
								<li class="dropdown_content_item"><a class="dropdown_content_item_a" href="#" onclick="changeSelectedOption('Новинки ниже')">Новинки ниже</a></li>
								<li class="dropdown_content_item"><a class="dropdown_content_item_a" href="#" onclick="changeSelectedOption('Новинки выше')">Новинки выше</a></li>
								<li class="dropdown_content_item"><a class="dropdown_content_item_a" href="#" onclick="changeSelectedOption('От Я до А')">От Я до А</a></li>
								<li class="dropdown_content_item"><a class="dropdown_content_item_a" href="#" onclick="changeSelectedOption('От А до Я')">От А до Я</a></li>
								<li class="dropdown_content_item"><a class="dropdown_content_item_a" href="#" onclick="changeSelectedOption('Дешевые выше')">Дешевые выше</a></li>
								<li class="dropdown_content_item"><a class="dropdown_content_item_a" href="#" onclick="changeSelectedOption('Дорогие выше')">Дорогие выше</a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-6 d-flex justify-content-end">
					<a class="btn_main btn_main_l" style="width:fit-content" a asp-action="Create" asp-controller="Product">+ Add</a>
				</div>
			</div>
			<div class="main_content">
				<partial name="_CatalogPartial" model="@Model" />
			</div>
		</div>
	</div>

</div>


<!-- JavaScript-код для отображения toast -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		var liquidType = '@ViewBag.LiquidType';
		var flavor = '@ViewBag.Flavor';

		// Set the selected liquid type as 'current-item'
		if (liquidType !== null && liquidType !== undefined && liquidType !== 0) {
			$('.categories_item[data-liquid-type="' + liquidType + '"]').addClass('current-item');
			switch (liquidType) {
				case '0': $('h1').text('Все товары');
					break;
				case '1': $('h1').text('Жидкость на органическом никотине для вейпа - VapeJOY');
					break;
				case '2': $('h1').text('СОЛЕВАЯ жидкость для POD-систем');
					break;
				case '3': $('h1').text('Ароматизаторы для Вейпа - VapeJOY');
					break;

			}
		}

		// Check the flavor checkbox
		if (flavor !== null && flavor !== "") {
			$('#' + flavor).trigger('click');
		}
	});
</script>
<script>
	function filterProductsByFlavorAndPrice() {
		var selectedValues = [];

		// Получаем выбранные флажки
		$(".filter-checkbox:checked").each(function () {
			selectedValues.push($(this).attr("id"));
		});

		var minPrice = $(".price_input:first").val();
		var maxPrice = $(".price_input:last").val();

		// Преобразуем выбранные значения в строку для передачи
		var filterValues = selectedValues.join(",");

		var currentLiquidType = $(".current-item").data("liquid-type");

		var selectedOption = document.getElementById('selected-sort-option').textContent;
		$.ajax({
			url: "@Url.Action("FilteredProducts", "Product")",
			type: "GET",
			data: {
				liquidTypeID: currentLiquidType,
				values: filterValues,
				minPrice: minPrice,
				maxPrice: maxPrice,
				sortOption: selectedOption
			}, // Замените 1 на соответствующий liquidTypeID
			success: function (data) {
				$(".main_content").html(data);
			
				var toastText = "Filters are applied"; 
				$("#s_toastText").text(toastText);
				var Toast = new bootstrap.Toast(document.getElementById('successToast'));
				Toast.show();
				
			}
		});
	}

	// Обработчик события для фильтрации товаров
	$(".filter-checkbox").click(function () {
		filterProductsByFlavorAndPrice();
	});

	$(".price_input").on("blur keypress", function (e) {
		// Проверяем, нажата ли клавиша Enter (код клавиши 13)
		if (e.type === "keypress" && e.which !== 13) {
			return;
		}
		filterProductsByFlavorAndPrice();
	});
</script>
<script>
	document.querySelectorAll('.filter').forEach(filter => {
		filter.addEventListener('click', () => {
			filter.classList.toggle('collapsed');
		});
	});
</script>
<script>
	
	window.onload = function () {
		var savedOption = getSelectedOptionFromCookie();
		if (savedOption) {
			changeSelectedOption(savedOption);
		}
		else { changeSelectedOption('От А до Я'); }
	};
</script>
<script>
	function changeSelectedOption(optionText) {
		var selectedOptionElement = document.getElementById('selected-sort-option');
		selectedOptionElement.textContent = optionText;

		// Сохраняем выбор пользователя в cookie с именем "selectedOption"
		document.cookie = "selectedOption=" + optionText + "; path=/";


		var selectedOptionIndex = -1;
		var items = document.querySelectorAll('.dropdown_content_item_a');

		items.forEach(function (item) {
			item.parentNode.style.display = 'block';
		});

		for (var i = 0; i < items.length; i++) {
			if (items[i].textContent === optionText) {
				selectedOptionIndex = i;
				break;
			}
		}

		if (selectedOptionIndex >= 0) {
			items[selectedOptionIndex].parentNode.style.display = 'none';
		}

		filterProductsByFlavorAndPrice();
	}

	function getSelectedOptionFromCookie() {
		var name = "selectedOption=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var cookieArray = decodedCookie.split(';');

		for (var i = 0; i < cookieArray.length; i++) {
			var cookie = cookieArray[i];
			while (cookie.charAt(0) === ' ') {
				cookie = cookie.substring(1);
			}
			if (cookie.indexOf(name) === 0) {
				return cookie.substring(name.length, cookie.length);
			}
		}
		return "";
	}
	
</script>
<style>

	.sorting_menu {
		display: inline-block;
		width: 100%;
		text-align: left;
	}

	.sort_dropdown {
		display: inline-block;
	}

		.sort_dropdown:first-child {
			position: relative;
		}

	.sort_label {
		float: left;
		display: inline-block;
		line-height: 36px;
		padding-right: 5px;
		color: #8f8f8f;
	}

	.dropdown_wrapper {
		display: flex;
		align-items: center;
		height: 36px;
		padding: 0 10px 0 0;
		line-height: 100%;
		color: #08a6a8;
		transition: all 150ms;
		cursor: pointer;
		text-decoration: none;
	}

		.dropdown_wrapper span {
			max-width: 160px;
			margin-bottom: -1px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-decoration: underline;
			text-underline-offset: 1.3px;
			text-decoration-style: dotted;
			text-decoration-thickness: 1px;
		}

			.dropdown_wrapper span:hover {
				text-decoration-color: #0c7071;
			}

		.dropdown_wrapper:active dropdown_content{
			display:block;
		}

		.dropdown_content {
		background: #fff;
		margin-top: 0;
		padding: 0;
		border: 0;
		border-radius: 0;
		position: absolute;
		z-index: 100;
		top: 40px;
		min-width: 200px;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.03), 0 5px 15px 0 rgba(0,0,0,0.22);
	}

		.dropdown_content li{
			margin: 0;
			padding: 2px 0;
			text-indent: 0;
			list-style: none;
		}

	.dropdown_content_item_a {
		text-decoration: none;
		padding: 7px 14px;
		color: #08a6a8;
		display: block;
	}

	.side_grid {
		width: 250px;
		margin: 0 0 20px;
	}

		.side_grid ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

	.main_categories_block {
		margin-bottom: 20px;
	}

	.main_categories {
		display: inline-block;
		position: relative;
		width: 100%;
		padding: 0 25px 0 10px;
		background: #f6f6f6;
		border: none;
	}

		.main_categories span {
			color: #363636;
			font-weight: bold;
			font-size: 14px;
			display: inline-block;
			width: 100%;
			padding: 10px 0;
		}


		.main_categories .level-0 {
			margin-bottom: 0;
		}

		.main_categories .level-1 {
			padding-left: 20px !important;
			border: none !important;
		}

			.main_categories .level-1 span {
				font-weight: normal;
				color: rgba(54,54,54,0.85);
			}

		.main_categories .level-2 {
			padding-left: 20px;
		}

		.main_categories .level-3 {
			padding-left: 40px;
		}

		.main_categories li {
			margin: 0;
			text-indent: 0;
			list-style: none;
		}

		.main_categories .categories_item {
			display: inline-block;
			position: relative;
			width: 100%;
			padding: 0 25px 0 10px;
			border-bottom: 1px solid #e2e2e2;
		}

			.main_categories .categories_item a {
				display: block;
				width: 100%;
			}


	.categories_item:hover {
		background: #eee;
	}

	.current-item {
		background: #eee;
		color: #363636;
	}

		.current-item span:before {
			content: "";
			position: absolute;
			transform: translate(100%,50%);
			right: 15px;
			background-color: #ff5722;
			width: 8px;
			height: 8px;
			border-radius: 4px;
			border: 1px solid white;
		}

	.filter span:after {
		content: "\2b"; /* Иконка плюса */
		right: 15px;
		position: absolute;
		transition: transform 0.3s; /* Анимация для плавного перехода */
	}

	.filter.collapsed span:after {
		content: "\2212"; /* Иконка минуса */
		transform: rotate(180deg); /* Вращение для создания эффекта минуса */
	}

</style>