@using System.Web;
@using VapeShop.Domain.Entity.Product;
@model Liquid



<div class="container">
	<div class="row"></div>
	<div class="row mt-4">
		<div class="col-11">
			<h3 class="fw-bold">@Model.Name - @Model.LongName @((int)Model.Volume)мл</h3>
		</div>
		<div class="col-1 d-inline-flex">
			<a class="btn_main btn_main_d" asp-action="Edit" asp-controller="Product" asp-route-id="@Model.LiquidID"><i class="fa-regular fa-pen-to-square"></i></a>
			<a class="btn_main btn_main_d" asp-action="Delete" asp-controller="Product" asp-route-liquid_id="@Model.LiquidID"><i class="fa-solid fa-trash"></i></i></a>
		</div>
		
	</div>

	<div class="row mt-4" style="padding: 25px; margin: 0 10px 0 0;">
		<div class="col-6">
			<img height="450" src="@Model.Image" />
		</div>

		<div class="col-6" style="box-shadow: 0 0.1rem 2rem rgba(54,54,54,0.1); border-radius: 8px; ">

			<div class="row text-end" style="line-height: 30px; border-bottom: 1px solid lightgray">
				<p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 5px">КОД: @Model.LiquidID</p>
			</div>

			<div class="row mt-3">
				<div class="col-6 ms-4">

					<form asp-action="AddToCart">

						<div class="col"><h3 class="fw-bold">@Model.Price grn</h3></div>
						<div class="col">
							<p style="color: #08a6a8">
								<i class="fa-regular fa-circle-check"></i>  в наличии
							</p>
						</div>
						<br />

						<div class="col fw-bold">Соотношение PG/VG</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
							<label class="form-check-label" for="flexRadioDefault1">
								30/70 - для вейпов
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
							<label class="form-check-label" for="flexRadioDefault2">
								50/50 - для POD-систем
							</label>
						</div>
						<br />

						<div class="col fw-bold">Никотин</div>
						<div class="col">
							<select class="form-select">
								<option selected>Open this select menu</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<br />

						<div class="col-5"></div>
						<div class="col-7">
							<button class="btn_main btn_main_l" style="width:100%" type="submit">
								<span class="icon">
									<i class="fa-solid fa-cart-shopping"></i>
								</span>
								<span class="text">To cart</span>
							</button>
						</div>
						<div class="col mt-2 text-center">
							<a class="link_hover" asp-action="" asp-controller="" style="color: #08a6a8">
								<i class="fa-regular fa-heart"></i>
								Отложить
							</a>

							<a class="link_hover" asp-action="" asp-controller="" style="color: #08a6a8">
								<i class="bi bi-bar-chart"></i>
								Сравнить
							</a>

						</div>
					</form>

				</div>

				<div class="col-5 text-start">
					<div class="col" style="border-bottom: 1px solid gray; line-height: 50px">
						<a class="link_hover fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
							<i class="bi bi-truck"></i>
							Доставка
						</a>
						<p style="line-height: 1.5em; font-family: Arial" class="collapse mt-2" id="collapseWidthExample">
							- Новая Почта
							<br />
							- Bolt  доставка (Заророжье)
						</p>
					</div>
					<div class="col" style="border-bottom: 1px solid gray; line-height: 50px">
						<a class="link_hover fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample">
							<i class="bi bi-credit-card"></i>
							Варианты оплаты
						</a>
						<p style="line-height: 1.5em; font-family: Arial" class="collapse mt-2" id="collapseWidthExample2">
							— Картами Visa и MasterCard	<br />
							— Оплата на карту	<br />
							— Наличными при получении в Магазине
						</p>
					</div>
					<div class="col" style="border-bottom: 1px solid gray; line-height: 50px">
						<a class="link_hover fw-bold" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample">
							<i class="bi bi-star"></i>
							Наши преимущества
						</a>
						<p style="line-height: 1.5em; font-family: Arial" class="collapse mt-2" id="collapseWidthExample3">
							— Собственное производство	<br />
							— Широкий ассортимент<br />
							— Быстрая отправка<br />
							— Доступные цены<br />
							— Гарантии соблюдения всех  производственых норм и условий правил хранения
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-4 mb-4">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Characteristics</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
				<div id="formattedText" class="product_description">
					@Html.Raw(HttpUtility.HtmlDecode(Model.Description))
					<div class="text-center">
						<div><strong>VAPEJOY</strong></div>
						<div><strong>- MORE THAN JUST TASTE -</strong></div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
				<div class="content_features">
					<div class="filter_container">
						<div class="product_feature">
							<div class="product_feature_label"><span>Flavors by species</span></div>
							<div class="product_feature_value">@Model.Flavor.Flavor_name</div>
						</div>
						<div class="product_feature">
							<div class="product_feature_label"><span>Bottle volume</span></div>
							<div class="product_feature_value">@((int)Model.Volume)ml</div>
						</div>
						<div class="product_feature">
							<div class="product_feature_label"><span>Liquid type</span></div>
							<div class="product_feature_value">@Model.LiquidType</div>
						</div>
						<div class="product_feature">
							<div class="product_feature_label"><span>Flavor level</span></div>
							<div class="product_feature_value">Saturated</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



